<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
<!-- 
1) VO 클래스와 Member 테이블 조회 결과를 매핑할 resultMap 작성 (id="memberResultSet")
2) 로그인 기능을 수행하기 위한 select 엘리먼트 작성 (id="loginMember)
//	CREATE TABLE MEMBER(
//			MEMBER_ID VARCHAR2(30) PRIMARY KEY,
//			MEMBER_PWD VARCHAR2(100) NOT NULL,
//			MEMBER_NM VARCHAR2(15) NOT NULL,
//			MEMBER_ENROLL_DT DATE DEFAULT SYSDATE
//			);
	private String memberId;
	private String memberPwd;
	private String memberName;
	private Date memberEnrollDate; // (import : java.sql.Date)
mybatis-config.xml
mappers/member-mapper.xml
 -->
	 <resultMap type="Member" id="memberResultSet">
		 <id column="MEMBER_ID" property="memberId"/>
		 <result column="MEMBER_PWD" property="memberPwd"/>
		 <result column="MEMBER_NM" property="memberName"/>
		 <result column="MEMBER_ENROLL_DT" property="memberEnrollDate"/>
	 </resultMap>
	<select id="loginMember" resultMap="memberResultSet" parameterType="Member">
	select * from MEMBER where MEMBER_ID = #{memberId} and MEMBER_PWD=#{memberPwd}
	</select>
	
	<insert id="insertMember" parameterType="Member">
	INSERT INTO MEMBER VALUES(#{memberId}, #{memberPwd}, #{memberName}, DEFAULT);
	</insert>
</mapper>
